<h2>buys</h2>

<form action="/item" method="POST">
  <p>name:<input name="name" type="text" value=""/>
	<select>
	  <% @recs.each do |rec|%>
	  <option value="<%= rec[:name]%>"><%= rec[:name]%></option>
	  <% end %>
	</select>
  </p>
  <p>
	amount:<input name="amount" type="number" value=""/>
  </p>
  <input name="date" type="hidden" value="<%= @date %>"/>
  <input name="buy_id" type="hidden" value="<%= @buy_id %>"/>
  <input name="" type="submit" value="submit"/>
</form>

<p>明細</p>

<p>名前 ::: 金額</p>

<form action="/items" method="post">
  <input name="buy_id" type="hidden" value="<%= @buy_id %>"/>
  <input name="_method" type="hidden" value="delete">
  <% @recs.each do |rec|%>
  <p>
	<input type="checkbox" name="id[]" value="<%= rec[:id]%>" />
	<%= rec[:name]%> ::: <%= rec[:amount]%>
  </p>
  <% end %>
  <input type="submit" value="delete">
</form>

<p>合計:<%= @recs.map{|rec| rec[:amount]}.sum %></p>
