<h2>days(<%= @date %>,<%= @buy_id %>)</h2>

<form action="/item" method="POST">
  <input name="name" type="text" value=""/>
  <input name="amount" type="number" value=""/>
  <input name="date" type="hidden" value="<%= @date %>"/>
  <input name="buy_id" type="hidden" value="<%= @buy_id %>"/>
</form>

<% @recs.each do |rec|%>
   <p>
	<%= rec[:name]%>
   </p>
   <p>
	<%= rec[:amount]%>
   </p>
<% end %>
